* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: "Raleway",sans-serif;
}
.header {
	
	width: 100%;
	height: 50px;
	background: #111;
	color: #f5f5f5;
	text-align: center;
	line-height: 50px;
}

.header h1{
	float: left;
	padding-left: 1.5em;


}

.header p{
	float: right;
	padding-right: 1.5em;
}
.form {
	padding: 160px 50px;
	background-color: rgb(253, 145, 145);
	
    
}
.form .form-element {
	width:400px;
	margin:10px auto;
}

.form .form-element label {
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
.form .form-element input {
	padding: 10px;
	outline: none;
	border:1px solid rgb(175, 2, 2);
	font-size: 15px;
	border-radius: 15px;
	width:100%;
}
.form .form-element button {
	width: 100%;
	height: 40px;
	background: #111;
	color: #f5f5f5;
	border:none;
	border-radius: 15px;
	outline: none;
	font-size: 15px;
	cursor: pointer;
}

/* hide isso */
.video-data {
	width: 400px;
	margin: 60px auto;
	display: none;
}
.video-data .data .thumbnail img {
	width: 100%;
}
.video-data .data .info {
	margin-top: 10px;
}
.video-data .data .info h2 {
	font-size: 16px;
	margin-bottom: 10px;
	color:#222;
}
.video-data .data .info p {
	font-size: 13px;
	color: #555
}
.video-data .controls {
	margin-top:20px;
	display: flex;
	justify-content: space-between;
}
.video-data .controls select,

.video-data .controls button {
	width: 48%;
	height: 40px;
}
.video-data .controls button {
	
	
	background: rgb(255, 115, 115);
	cursor: pointer;
}
footer{
	width: 100%;
	height: 20vh;
	background-color: rgb(206, 65, 65);
	display: flex;
	justify-content: center;
	align-items: center;


}

.logo{
	
	width: 5rem;
	height: auto;
	margin: auto;
}